In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import time

In [2]:
df = pd.read_csv("C:/Users/Yash Phadke/OneDrive/Desktop/ML/Linear Regression/housing.csv")
array = df.to_numpy()
a = np.shape(array)
print(a)
df.head()

(20640, 10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

Normalising the data for all the features

In [3]:
longitude = array.T[0]
final_long = []
min_longitude = min(longitude)
a = np.shape(array)
x = 0
while x < 20640:
    temp_long = (longitude[x])/(min_longitude) 
    final_long.append(temp_long)
    x = x+1

In [4]:
latitude = array.T[1]
final_latitude = []
max_latitude = max(latitude)
x = 0
while x < 20640:
    temp_latitude = (latitude[x])/(max_latitude) 
    final_latitude.append(temp_latitude)
    x = x+1

In [5]:
House_median_age = array.T[2]
final_House_median_age = []
max_House_median_age = max(House_median_age)
x = 0
while x < 20640:
    temp_House_median_age = (House_median_age[x])/(max_House_median_age) 
    final_House_median_age.append(temp_House_median_age)
    x = x+1

In [6]:
total_rooms = array.T[3]
final_total_rooms  = []
max_total_rooms  = max(total_rooms)
x = 0
while x < 20640:
    temp_total_rooms = (total_rooms[x])/(max_total_rooms) 
    final_total_rooms.append(temp_total_rooms)
    x = x+1

In [7]:
total_population = array.T[5]
final_population = []
max_population = max(total_population)
x = 0
while x < 20640:
    temp_population = (total_population[x])/(max_population) 
    final_population.append(temp_population)
    x = x+1

In [8]:
total_median_income= array.T[7]
final_median_income = []
max_median_income = max(total_median_income)
x = 0
while x < 20640:
    temp_median_income = (total_median_income[x])/(max_median_income) 
    final_median_income.append(temp_median_income)
    x = x+1

In [9]:
total_house_price= array.T[8]
final_house_price = []
max_house_price = max(total_house_price)
x = 0
while x < 20640:
    temp_house_price = (total_house_price[x])/(max_house_price) 
    final_house_price.append(temp_house_price)
    x = x+1

Making the final array

In [10]:
final = np.stack((final_long,final_latitude,final_House_median_age,final_total_rooms,final_population,final_median_income),axis=1)
print(final)

[[0.98295135 0.90297974 0.78846154 0.02238047 0.00902416 0.55500963]
 [0.98287093 0.90250298 0.40384615 0.18054425 0.06728883 0.55342298]
 [0.98303177 0.9022646  1.         0.03730926 0.01390057 0.48382344]
 ...
 [0.97482911 0.93992849 0.32692308 0.05732452 0.02822151 0.11333258]
 [0.97563329 0.93992849 0.34615385 0.04730417 0.02076677 0.12447917]
 [0.97498995 0.93849821 0.30769231 0.07082909 0.03887114 0.15923894]]

Making the cost function

In [11]:
weights =np.array([0,0,0,0,0,0])
def Diff_cost_wrt_w1(w,b):
        t = 0
        temp_weights:float64 = 0
        while t<20640:
            diff = ((np.dot(w,final[t])+b) -final_house_price[t])*final[t,0]
            temp_weights = temp_weights + diff
            t = t + 1
        diff_cost_wrt_w1 = temp_weights/20640
        return diff_cost_wrt_w1

In [12]:
def Diff_cost_wrt_w2(w,b):
        t = 0
        temp_weights:float64 = 0
        while t<20640:
            diff = ((np.dot(w,final[t]))+b -final_house_price[t])*final[t,1]
            temp_weights = temp_weights + diff
            t = t + 1
        diff_cost_wrt_w2 = temp_weights/20640
        return diff_cost_wrt_w2

In [13]:
def Diff_cost_wrt_w3(w,b):
        t = 0
        temp_weights:float64 = 0
        while t<20640:
            diff = ((np.dot(w,final[t]))+b -final_house_price[t])*final[t,2]
            temp_weights = temp_weights + diff
            t = t + 1
        diff_cost_wrt_w3 = temp_weights/20640
        return diff_cost_wrt_w3

In [14]:
def Diff_cost_wrt_w4(w,b):
        t = 0
        temp_weights:float64 = 0
        while t<20640:
            diff = ((np.dot(w,final[t]))+b -final_house_price[t])*final[t,3]
            temp_weights = temp_weights + diff
            t = t + 1
        diff_cost_wrt_w4 = temp_weights/20640
        return diff_cost_wrt_w4

In [15]:
def Diff_cost_wrt_w5(w,b):
        t = 0
        temp_weights:float64 = 0
        while t<20640:
            diff = ((np.dot(w,final[t]))+b -final_house_price[t])*final[t,4]
            temp_weights = temp_weights + diff
            t = t + 1
        diff_cost_wrt_w5 = temp_weights/20640
        return diff_cost_wrt_w5

In [16]:
def Diff_cost_wrt_w6(w,b):
        t = 0
        temp_weights:float64 = 0
        while t<20640:
            diff = ((np.dot(w,final[t]))+b -final_house_price[t])*final[t,5]
            temp_weights = temp_weights + diff
            t = t + 1
        diff_cost_wrt_w6 = temp_weights/20640
        return diff_cost_wrt_w6

In [17]:
def Diff_cost_wrt_b(w,b):
        t = 0
        temp_weights:float64 = 0
        while t<20640:
            diff = ((np.dot(w,final[t]))+b -final_house_price[t])
            temp_weights = temp_weights + diff
            t = t + 1
        diff_cost_wrt_b = temp_weights/20640
        return diff_cost_wrt_b

In [19]:
def Grad_desc(w,b):
    n = 0
    w1 = weights[0]
    w2 = weights[1]
    w3 = weights[2]
    w4 = weights[3]
    w5 = weights[4]
    w6 = weights[5]
    while n < 20000:
        temp_w1 = w1 - 0.001*Diff_cost_wrt_w1(w,b)
        temp_w2 = w2 - 0.001*Diff_cost_wrt_w2(w,b)
        temp_w3 = w3 - 0.001*Diff_cost_wrt_w3(w,b)
        temp_w4 = w4 - 0.001*Diff_cost_wrt_w4(w,b)
        temp_w5 = w5 - 0.001*Diff_cost_wrt_w5(w,b)
        temp_w6 = w6 - 0.001*Diff_cost_wrt_w6(w,b)
        temp_b = b - 0.001*Diff_cost_wrt_b(w,b)
        w1 = temp_w1
        w2 = temp_w2
        w3 = temp_w3
        w4 = temp_w4
        w5 = temp_w5
        w6 = temp_w6
        b = temp_b
        w = [w1,w2,w3,w4,w5,w6]
        n = n + 1
    return w1,w2,w3,w4,w5,w6,b

In [20]:
start = time.time()
w = Grad_desc(weights,0)
end = time.time()
print(end - start)

8211.045300722122

In [31]:
def Predict(cin):
    prediction_price = w[0]*(cin[0]/min(longitude)) + w[1]*(cin[1]/max(latitude)) + w[2]*(cin[2]/max(House_median_age)) 
    + w[3]*(cin[3]/max(total_rooms)) + w[4]*(cin[5]/max(total_population)) + w[5]*(cin[6]/max(total_median_income)) + w[6]
    final_price = max(total_house_price)*prediction_price
    return final_price

In [37]:
Predict(array[3])

126924.91199569323

In [33]:
print(array[0])

[-122.23 37.88 41.0 880.0 129.0 322.0 126.0 8.3252 452600.0 'NEAR BAY']