In [66]:
import numpy as np
import math
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
import warnings
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [3]:
df = pd.read_csv("C:/Users/Yash Phadke/OneDrive/Desktop/ML/scikit-learn tutorials/Classification/train.csv")
y =df.pop('Survived')
df = df.drop(['PassengerId','Name','Ticket','Cabin','Embarked'],axis = 1)
df.head()

   Pclass     Sex   Age  SibSp  Parch     Fare
0       3    male  22.0      1      0   7.2500
1       1  female  38.0      1      0  71.2833
2       3  female  26.0      0      0   7.9250
3       1  female  35.0      1      0  53.1000
4       3    male  35.0      0      0   8.0500

In [4]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [5]:
sex = pd.get_dummies(df['Sex'])
sex.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [6]:
df2 = pd.concat((df,sex),axis = 1)
df2.head()

   Pclass     Sex   Age  SibSp  Parch     Fare  female  male
0       3    male  22.0      1      0   7.2500       0     1
1       1  female  38.0      1      0  71.2833       1     0
2       3  female  26.0      0      0   7.9250       1     0
3       1  female  35.0      1      0  53.1000       1     0
4       3    male  35.0      0      0   8.0500       0     1

In [7]:
df = df2.drop(['Sex','male'],axis = 1)

In [8]:
sex= "Sex"
df = df.rename(columns = {"female":sex})
df.head()

   Pclass   Age  SibSp  Parch     Fare  Sex
0       3  22.0      1      0   7.2500    0
1       1  38.0      1      0  71.2833    1
2       3  26.0      0      0   7.9250    1
3       1  35.0      1      0  53.1000    1
4       3  35.0      0      0   8.0500    0

In [9]:
X = df.to_numpy()
Y = y.to_numpy()

In [10]:
age = X.T[1]
for i in range(len(age)):
    if math.isnan(age[i]):
        age[i] = 0
mean = sum(age)/len(age)
print(mean)
for i in range(len(age)):
    if age[i] ==0:
        age[i] = mean

23.79929292929293

In [11]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.3)
X_cv,X_test,Y_cv,Y_test = train_test_split(X_test,Y_test,test_size = 0.33)

Firstly, We will use KNN(K-Nearest Neighbours) method to classify the dataset and determine it's accuracy

In [12]:
warnings.filterwarnings('ignore')
model = KNeighborsClassifier(n_neighbors=3,weights='uniform')
model.fit(X_train,Y_train)
Y_pred = model.predict(X_cv)
acc = accuracy_score(Y_cv,Y_pred)
print(acc)

0.7150837988826816

Now, we will try to compare the accuracy of the KNN model with a SVM model or more specifically a SVC model

In [67]:
model_svc = svm.SVC(C = 1.0,kernel='linear')

In [68]:
model_svc.fit(X_train,Y_train)

SVC(kernel='linear')

In [70]:
pred_svc = model_svc.predict(X_cv)
acc_svc = accuracy_score(Y_cv,pred_svc)
print(acc_svc)

0.8156424581005587

Now,we compare this accuracy with Decision Trees

In [147]:
model_dt = DecisionTreeClassifier(max_leaf_nodes= 11)

In [148]:
model_dt.fit(X_train,Y_train)

DecisionTreeClassifier(max_leaf_nodes=11)

In [149]:
pred_dt = model_dt.predict(X_cv)
acc_dt = accuracy_score(Y_cv,pred_dt)
print(acc_dt)

0.8491620111731844

Now,we use Random Forest to get better accuracies

In [268]:
model_forest = RandomForestClassifier(max_depth=9,max_features=6)

In [269]:
model_forest.fit(X_train,Y_train)

RandomForestClassifier(max_depth=9, max_features=6)

In [270]:
pred_forest = model_forest.predict(X_cv)
acc_forest = accuracy_score(Y_cv,pred_forest)
print(acc_forest)

0.8603351955307262