In [4]:
from sklearn.preprocessing import StandardScaler
from sklearn import linear_model
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib as plt
import time

The data (X1, X2, X3, X4, X5, X6, X7) are for each city.

- X1 = total overall reported crime rate per 1 million residents
- X2 = reported violent crime rate per 100,000 residents
- X3 = annual police funding in $/resident
- X4 = % of people 25 years+ with 4 yrs. of high school
- X5 = % of 16 to 19 year-olds not in highschool and not highschool graduates.
- X6 = % of 18 to 24 year-olds in college
- X7 = % of people 25 years+ with at least 4 years of college

In [5]:
df = pd.read_csv('C:/Users/Yash Phadke/OneDrive/Desktop/ML/scikit-learn tutorials/Regression/main.csv') 
df.head()

    X1   X2  X3  X4  X5  X6  X7
0  478  184  40  74  11  31  20
1  494  213  32  72  11  43  18
2  643  347  57  70  18  16  16
3  341  565  31  71  11  25  19
4  773  327  67  72   9  29  24

In [10]:
y = df.pop('X1')

In [15]:
df.head()

    X2  X3  X4  X5  X6  X7
0  184  40  74  11  31  20
1  213  32  72  11  43  18
2  347  57  70  18  16  16
3  565  31  71  11  25  19
4  327  67  72   9  29  24

In [16]:
X_train,X_test,Y_train,Y_test = train_test_split(df,y,test_size =0.2)

In [45]:
scale = StandardScaler()
x_train = scale.fit_transform(X_train)
Y_1 = np.reshape(Y_train.values,(-1,1))
y_train = scale.fit_transform(Y_1)
x_test = scale.fit_transform(X_test)
Y_1 = np.reshape(Y_test.values,(-1,1))
y_test = scale.fit_transform(Y_1)

Ridge is used for regularised models where as for normal regression we use Linear Regression

In [67]:
model = linear_model.LinearRegression()
model.fit(x_train,y_train)
model.coef_
final = model.predict(x_test)
print(y_test)
print(final)

[[-0.24724286]
 [-0.90686467]
 [ 1.51021106]
 [-0.93915385]
 [-0.62318117]
 [ 2.25055582]
 [-0.33488492]
 [-0.51478178]
 [ 0.13100181]
 [-0.32565944]]
[[-0.69331863]
 [-0.33683778]
 [-0.34746185]
 [-0.66135973]
 [-0.04889456]
 [ 2.57101356]
 [ 0.07867857]
 [-0.22995603]
 [-0.09364339]
 [-0.23822016]]

In [65]:
model = linear_model.Ridge()
model.fit(x_train,y_train)
model.coef_
final = model.predict(x_test)
print(y_test)
print(final)

[[-0.24724286]
 [-0.90686467]
 [ 1.51021106]
 [-0.93915385]
 [-0.62318117]
 [ 2.25055582]
 [-0.33488492]
 [-0.51478178]
 [ 0.13100181]
 [-0.32565944]]
[[-0.49610282]
 [-0.41443794]
 [-0.28872355]
 [-0.59194851]
 [-0.13931078]
 [ 2.49230946]
 [ 0.05033669]
 [-0.32075213]
 [-0.05873775]
 [-0.23263269]]